@media (min-width: 1024px) {
  .container {
    margin: auto;
  }
}

#chat01-container {
  margin: 0 auto;
  width: 60%;
}

#chat01-messages {
  height: 300px;
  width: 100%;
  border: 3px solid orange;
  margin-bottom: 20px;
  padding: 0 10px;
  overflow-y: scroll;
  display: flex;
  /* flex-direction: column; */
  flex-direction: column-reverse;
  white-space: pre-line;
}

#chat01-input {
  padding: 0 10px;
  border: 3px solid blue;
  resize: none;
  width: 100%;
}
