<p>Locale: <%= @locale %></p>
<div>
	<h3>Users: </h3>
	<div id="users">
  </div>
</div>
<div id="chat01-container">
<div id="chat01-messages" role="log" aria-live="polite"></div>
<textarea id="chat01-input" row="3" type="text" />
</div>
